<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "PMS", root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <%= link_to "English", switch_locale_path(:en) ,class: "nav-link #{ "active" if get_locale == 'en'}"%>
      </li>
      <li class="nav-item">
        <%= link_to "中文", switch_locale_path(:"zh-TW"),class:  "nav-link #{ "active" if get_locale == 'zh-TW'}"%>
      </li>

      <li class="nav-item">
        <%= link_to t('links.root'), root_path, class: 'nav-link' %>
      </li> 
      <% if login? %>
        <li class="nav-item">
          <%= link_to t('links.projects.index'), projects_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to t('links.project.new'), new_project_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
    <ul class="navbar-nav justify-content-end">
      <% if login? %>
        <% if current_user.admin? %>
          <li class="nav-item">
            <%= link_to t('links.admin'), admin_root_path, class: 'nav-link' %>
          </li>
        <% end %>
        <li class="nav-item">
          <span class='nav-link'>
            Hello: <%= current_user.username %>
          </span>
        </li>
        <li class="nav-item">
          <%= link_to t('links.sessions.destroy'), logout_path, method: :delete ,class: 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to t('links.users.new'), signup_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to t('links.sessions.new'), login_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
