<%= form_with(model: [current_user, project], local: true) do |f|  %>
  <% if project.errors.any? %>
    <%= render 'shared/errors', errors: project.errors %>
  <% end %>
  <div class="form-group" >
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control #{'is-invalid' if project.errors[:title].any?}" %>
  </div>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control #{'is-invalid' if project.errors[:content].any?}" %>
  </div>
  <div class='form-group'>
    <%= f.label :start_date %>
    <%= f.datetime_local_field :start_date, class: 'form-control', id:'project_start_date' %>
  </div>
  <div class='form-group'>
    <%= f.label :due_date %>
    <%= f.datetime_local_field :due_date, class: 'form-control', id:'project_due_date' %>
  </div>
  <div class='form-group'>
    <%= f.label :status %>
    <%= f.select(:status, 
                 [
                   [t('project.status.todo'), 'todo'], 
                   [t('project.status.doing'), 'doing'],
                   [t('project.status.done'), 'done']
                 ],
                 {},
                 {class: 'custom-select'}) %>
  </div>
  <div class='form-group'>
    <%= f.label :priority %>
    <%= f.select(:priority, 
                 [
                   [t('project.priority.low'), 'low'], 
                   [t('project.priority.medium'), 'medium'],
                   [t('project.priority.high'), 'high']
                 ],
                 {},
                 {class: 'custom-select'}) %>
  </div>
  <div class='form-group labels' data-controller='project-form' >
    <%= label_tag :label_names, t('labels') %>
    <%= render 'labels/labels', labels: @project.labels, project: @project %>
    <%= text_field_tag :label_names, @project.label_str, class: 'form-control', data: { "project-form-target": 'labelsDisplayed', action: 'updateProjectLabels@document->project-form#updateLabels'} %>
  </div>
  <%= f.submit nil, class: 'btn btn-info' %>
<% end %>
