<%= form_with(model: project, local: true) do |f|  %>
  <% if project.errors.any? %>
    <%= render 'shared/errors', errors: project.errors.full_messages %>
  <% end %>
  <div class="form-group" >
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control #{'is-invalid' if project.errors[:title].any?}" %>
  </div>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control #{'is-invalid' if project.errors[:content].any?}" %>
  </div>
  <div class='form-group'>
    <%= f.label :due_date %>
    <input class='form-control' name='project[due_date]' id='project_due_date' />
  </div>
  <div class='form-group labels'>
    <%= label_tag :label_names, 'Labels' %>
    <%= render @project.labels, project: @project %>
    <%= text_field_tag :label_names, "", class: 'form-control' %>
  </div>
  <%= f.submit nil, class: 'btn btn-info' %>
<% end %>
