<h1>Projects</h1>
<%= form_with url: projects_path, method: :get , id: 'project-search-form' do |f| %>
  <div class="form-group">
    <%= f.label t('title'), for: 'search_title' %>
    <%= f.text_field :search, class: 'form-control', id: 'search_title', value: @search_terms %>
  </div>
  <div class="form-row mb-5">
    <div class="form-group col-md-6">
      <%= label_tag :label_names, 'Labels' %>
      <%= text_field_tag :label_names, "", class: 'form-control', value: @label_names %>
    </div>
    <div class="form-group col-md-4">
      <%= f.label t('status'), for: 'project_status' %>
      <%= f.select(:status, 
                   [
                     ['All', 'all'],
                     [t('project.status.todo'), 'todo'], 
                     [t('project.status.doing'), 'doing'],
                     [t('project.status.done'), 'done']
                   ],
                   {selected: @selected_status},
                   {class: 'custom-select', id: 'project_status'}) %>
    </div>
    <div class="form-group col-md-2">
      <label></label>
      <%= f.submit t('search'), class:'btn btn-info form-control mt-2' %>
    </div>
  </div>

  <div class="form-row justify-content-end" >
    <div class="form-group col-md-3">
      <%= f.select(:sort_by, 
                   [
                     [t('due_date'), 'due_date'], 
                     [t('start_date'), 'start_date'], 
                     [t('created_at'), 'created_at'],
                     [t('priority'), 'priority'],
                   ],
                   {selected: @selected_sort_by},
                   {class: 'custom-select', id: 'sort_by'}) %>
    </div>
    <div class="form-group col-md-2">
      <%= f.select(:order_direction, 
                   [[t('ascending'), 'asc'], [t('descending'), 'desc']],
                   {selected: @selected_order_direction},
                   {class: 'custom-select', id: 'order_direction'}) %>
    </div>
    <div class="form-group col-md-1">
      <%= f.submit t('sort'), class:'btn btn-primary' %>
    </div>
  </div>
<% end %>

<small class="list-group">
  <% @projects.each do |project| %>
    <%= link_to  project_path(project), class: "list-group-item list-group-item-action"  do  %>
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1 project-title">
          <%= project.title %>
        </h5>
        <small> <%= t('created_at') %>: <%= time_ago_in_words(project.created_at) %></small>
      </div>
      <p class="mb-1"><%= project.content %></p>
      <div>
        <% if project.due_date %>
          <small> <%= t('due_date') %> : <%= better_distance_of_time_in_words(project.due_date) %></small>
        <% end %>
      </div>
      <div>
        <% if project.start_date %>
          <small> <%= t('start_date') %> : <%= better_distance_of_time_in_words(project.start_date) %></small>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="my-3">
  <%= paginate @projects %>
</div>
