<h1>Project show page</h1>

<h2><%= @project.title %></h2>
<p><%= @project.content %></p>

<% if @project.labels.any?  %>
  <h2>Labels:</h2>
  <div class="labels">
    <%= render @project.labels, project: @project %>
  </div>
<% end %>
<% if @project.due_date %>
  <div>
    Due date : <%= distance_of_time_in_words(Time.now, @project.due_date) %>
  </div>
<% end %>
<% if current_user == @project.user %>
  <%= link_to t('links.project.edit'), edit_project_path(@project),  class: 'btn btn-info'  %>
  <%= link_to t('links.project.delete'), project_path(@project), method: :delete, class: 'btn btn-danger' %>
<% end %>
